h1
{
    font-family: Calibri;
    color:rgb(31, 173, 95);
    font-size: 36px;
}
p
{
    font-family: Cambria;
    color:rgb(209, 226, 26);
    font-size: 30px;
}

a{
    text-decoration: none;
    font-size:26px;
    font-family: Calibri;
}